streamlit==1.12.2
pandas==1.4.4
plotly==5.10.0
Pillow==9.2.0
geocoder==1.38.1
geopy==2.2.0
streamlit-tags==1.2.8
nltk==3.7
pdfminer3==2018.12.3.0
pyresparser==1.0.6
spacy==2.3.5
google-cloud-logging==3.5.0
